@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

#corpo {
    background-color: #282853;
    color: #101018;
    font-family: 'Roboto', sans-serif;
}
#container-bd{
    width: 1200px;
    height: 640px;
    border-color: red;
    border-style: solid;
    border:#35356e;
    /*background-image: url('./img/moon.png');*/
    -webkit-box-shadow: 0px 2px 15px 0px #000000;
    box-shadow: 0px 2px 15px 0px #000000;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 14px;
    
}
li {
    list-style: none;
}
.topo {
    display: inline-flex;
    font-size: 22px;
}
.city-info {
    padding-left: 820px;
    text-align: right;
    
}
.week{
    width: 800px;
    padding-left: 400px;
}
.week li {
    border: #101018;
    color: #101018;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    font-style:initial;
    font-weight: bold;
    background-color: #ffffff;
    border-style: solid;
    width: 173px;
    height: 90px;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 14px;
    margin: 20px;
    -webkit-box-shadow: 0px 2px 15px 0px #000000;
    box-shadow: 0px 2px 15px 0px #000000;
}
p {
    margin-left: 60px;
    font-size: 20px;
}