body {
    background-color: #273d4a;
    color: #F6F6F8;
}
li {
    list-style: none;
}
.topo {
    display: inline-flex;
    font-size: 22px;
}
.city-info {
    text-align: center;
}
.week li {
    border:#375668;
    color: #F6F6F8;
    background-color: #375668;
    border-style: solid;
    width: 140px;
    height: 90px;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 12px;
    margin: 20px;
}
